node_modules/
lib/
.DS_Store
*.log
android/build/
ios/build/
example/node_modules/
example/android/build/
example/ios/build/
example/ios/Pods/
.gradle/
*.iml
.idea/
local.properties

# Generated iOS test app from ios-setup/setup.sh (not source)
ios-setup/UhfBleApp/
